In [16]:
import pandas as pd
import numpy as np
import re

In [17]:
df = pd.read_csv('namu.csv',encoding='utf-8-sig',index_col=0)
df.head()

,Title,Category,Content
0,한양대학교/서울캠퍼스/학부/공과대학,한양대학교,한양대학교 공과대학\n漢陽大學校 工科大學\nHanyang University Col...
1,숨고,애플리케이션,숨고는 여러분들이 도움을 필요로 하는 일을 도와줄 고수를 무료로 빠르게 찾아드려요....
2,트로페오 알프레도 디 스테파노,축구상,"2007년 스페인의 언론사인 마르카에서 선정하기 시작한 상으로, 마르카가 선정하는 ..."
3,김용철(1958),대한민국의 검사 출신 변호사,대한민국의 검사 출신 변호사.\n\n삼성그룹의 비자금 운용을 폭로한 것으로 유명하다...
4,강형욱 직장 내 괴롭힘 폭로 논란/전개,경과,같은 날 JTBC 사건반장에서 해당 논란에 대해 보도했는데 여기에서 2016년 한 ...

In [18]:
# 텍스트 글자 전처리 - 한글 이외 모든 문자 제거
# 정규표현식
def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅎ가-힣]')    #[0-9a-zA-Z], [ㄱ-ㅎ가-힣]
    result = hangul.sub('',text)
    return result

In [19]:
text_cleaning(df['Content'][0])

'한양대학교 공과대학     출범년 동아공과학원 설립학장김찬형선봉공대링크한양대학교 공과대학 홈페이지한양대학교 서울캠퍼스의 공과대학에 대해 정리한 문서타 대학은 일반적으로 문과대학이 학교 홈페이지 내의 학과 소개란 가장 앞에 오는 반면에 한양대 서울은 공과대학이 학과 소개의 제일 앞에 위치하고 있다 이는 한양대학교가 동아공과학원에서 시작하여 공대가 역사적 뿌리이기 때문이다 여러모로 한양대학교가 공대를 어떻게 생각하는지 보여주는 부분이하의 개설 학과 목록은 한양대학교 공과대학 공식 사이트에 나오는 순서대로 나열한 것이다한양대학교 공과대학공과대학소프트웨어대학반도체공학과건축학부건축공학부건설환경공학과도시공학과자원환경공학과융합전자공학부전기생체공학부 전기공학전공 바이오메디컬공학전공신소재공학부화학공학과생명공학과유기나노공학과에너지공학과기계공학부원자력공학과산업공학과데이터사이언스학부 데이터사이언스전공 심리뇌과학전공컴퓨터소프트웨어학부정보시스템학과미래자동차공학과'

In [20]:
# 각 컬럼별 전처리 작업 진행
df['Title'] = df['Title'].apply(lambda x : text_cleaning(x))

In [21]:
df['Category'] = df['Category'].apply(lambda x: text_cleaning(x))
df['Content'] = df['Content'].apply(lambda x: text_cleaning(x))

In [22]:
df.head()

,Title,Category,Content
0,한양대학교서울캠퍼스학부공과대학,한양대학교,한양대학교 공과대학 출범년 동아공과학원 설립학장김찬형선봉공대링크한양대학교 공...
1,숨고,애플리케이션,숨고는 여러분들이 도움을 필요로 하는 일을 도와줄 고수를 무료로 빠르게 찾아드려요숨...
2,트로페오 알프레도 디 스테파노,축구상,년 스페인의 언론사인 마르카에서 선정하기 시작한 상으로 마르카가 선정하는 라리가 올...
3,김용철,대한민국의 검사 출신 변호사,대한민국의 검사 출신 변호사삼성그룹의 비자금 운용을 폭로한 것으로 유명하다 한동안 ...
4,강형욱 직장 내 괴롭힘 폭로 논란전개,경과,같은 날 사건반장에서 해당 논란에 대해 보도했는데 여기에서 년 한 직원에게 퇴사 ...

In [23]:
test_list = ['aaa','bbb','ccc']
" ".join(test_list)

'aaa bbb ccc'

In [24]:
title_corp = " ".join(df['Title'].to_list())
title_corp

'한양대학교서울캠퍼스학부공과대학 숨고 트로페오 알프레도 디 스테파노 김용철 강형욱 직장 내 괴롭힘 폭로 논란전개 아산 짜증나요 수원이기고 부천에게 지나요 포홍 갈바트론트랜스포머 시네마틱 유니버스 캣니스 에버딘 작은 거인하이큐 후생노동성 사쿠라자카굿즈생사진 페이퍼 마리오 년의 문 틀빛나는 별 아컴호러 카드게임플레이어 카드인스머스에 드리운 음모 숨고 진해성 갈바트론트랜스포머 시네마틱 유니버스 손승익 한양대학교서울캠퍼스학부공과대학 공산주의 숨고 라리가 어워즈 기라 조폭인 내가 고등학생이 되었습니다드라마 갈바트론트랜스포머 시네마틱 유니버스 인사이드 아웃 윤종용 마테이스 더리흐트 진해성 우르갈 화성시 갑 정하에코하임 알렉스 베시아선수 경력 김승현 안피디의 스포일러 틀빛나는 별 갈바트론트랜스포머 시네마틱 유니버스 홍천군 에픽세븐영웅 옹알이 해신 요시노 준페이 손승익 슈퍼 마리오 오디세이등장인물 조폭인 내가 고등학생이 되었습니다드라마 틀영국군원수 육조류 생물 목록 비토리아 세레티  이벤트아크틱 서머 월드 칼데아 한여름의 마원관광 진해성  애니메이티드 유니버스'

In [25]:
category_corp = " ".join(df['Category'].to_list())
content_corp = " ".join(df['Content'].to_list())

In [26]:
from konlpy.tag import Okt
from collections import Counter

In [27]:
# 명사 단위 키워드 추출
nouns_tagger = Okt()
nouns = nouns_tagger.nouns(content_corp)

SystemError: java.lang.UnsatisfiedLinkError: Native Library C:\Python312\Lib\site-packages\_jpype.cp312-win_amd64.pyd already loaded in another classloader

In [ ]:
# 출현 빈도수 확인
Counter(nouns)